<!-- account area start -->
<div class="account-dashboard pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li> <a href="#orders" data-bs-toggle="tab" class="nav-link active">Đơn hàng</a></li>
                        <li><a href="#account-details" data-bs-toggle="tab" class="nav-link">Thông tin cá nhân</a>
                        <li><a href="#reset-password" data-bs-toggle="tab" class="nav-link">Đổi mật khẩu</a></li>
                        </li>
                        <li><a href="/user/logout" class="nav-link">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    <div class="tab-pane fade show active" id="orders">
                        <h4>Đơn hàng</h4>
                        <div class="table_page table-responsive">
                            <table id="bills" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">STT</th>
                                        <th style="width: 40%;">Tên/Loại Sản Phẩm</th>
                                        <th style="width: 20%;">Thành Tiền(vnđ)</th>
                                        <th style="width: 15%;">Ngày Đặt</th>
                                        <th style="width: 15%;">Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!--
                                    Template for each bill 
                                    <tr>
                                        <td style="width: 5%;">1</td>
                                        <td style="width: 40%;"><span class="success">sdfs sf sfs s fs fsf s fs fs</span></td>
                                        <td style="width: 20%;">$25.00 for 1 item </td>
                                        <td style="width: 15%;">May 10, 2018</td>
                                        <td style="width: 15%;"><a href="/#" class="view">Xem</a></td>
                                    </tr>
                                     --}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-details">
                        <h3>Thông Tin Cá Nhân </h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form action="#">
                                        <div class="default-form-box mb-20">
                                            <label>Họ tên</label>
                                            <input type="text" name="name" value="">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Email</label>
                                            <input type="text" name="email" value="" disabled>
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Số điện thoại</label>
                                            <input type="text" name="phone" value="">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Địa chỉ</label>
                                            <input type="text" name="address" value="">
                                        </div>
                                        <div class="save_button mt-3">
                                            <button id="save-account-details-btn" class="btn" type="button">Lưu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="reset-password">
                        <h3>Thay đổi mật khẩu</h3>
                        <div class="default-form-box mb-20">
                            <label>Mã OTP</label>
                            <div class="d-flex flex-row">
                                <input type="text" name="otp">
                                <div class="save_button">
                                    <button id="get-otp-btn" class="btn" type="button">Lấy OTP</button>
                                </div>
                            </div>
                            <span id="otp-notification" style="font-weight: bold; color:blue;"></span>
                        </div>
                        <div class="default-form-box mb-20">
                            <label>Mật khẩu mới</label>
                            <input type="password" name="password">
                        </div>
                        <div class="default-form-box mb-20">
                            <label>Xác nhận lại mật khẩu</label>
                            <input type="password" name="confirm-password">
                        </div>
                        <span id="reset-password-notification" style="color: red; font-size: 0.9em;"></span>
                        <div class="save_button mt-1">
                            <button id="reset-password-btn" class="btn" type="button">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account area start -->
<!-- Handle for this page -->
<script src="/js/account-handler.js" defer></script>
