<!-- reset password area start -->
<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active">
                            <h4>Làm Mới Mật Khẩu</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div id="reset-password">
                                    <div class="default-form-box mb-20">
                                        <label>Email</label>
                                        <input type="email" name="email">
                                    </div>
                                    <div class="default-form-box mb-20">
                                        <label>Mã OTP</label>
                                        <div class="d-flex flex-row">
                                            <input type="text" name="otp">
                                            <div class="save_button">
                                                <button id="get-otp-btn" class="btn" type="button">Lấy OTP</button>
                                            </div>
                                        </div>
                                        <span id="otp-notification" style="color:blue; font-size:0.9em;"></span>
                                    </div>
                                    <div class="default-form-box mb-20">
                                        <label>Mật khẩu mới</label>
                                        <input type="password" name="password">
                                    </div>
                                    <div class="default-form-box mb-20">
                                        <label>Xác nhận lại mật khẩu</label>
                                        <input type="password" name="confirm-password">
                                    </div>
                                    <span id="reset-password-notification" style="color: red; font-size: 0.9em;"></span>
                                    <div class="save_button mt-1">
                                        <button id="reset-password-btn" class="btn" type="button">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login area end -->

{{!-- Handler for client side --}}
<script src="/js/reset-password-handler.js" defer></script>