<!-- Compare Area Start -->
<div class="compare-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!-- Compare Table -->
                    <div class="compare-table table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td class="first-column">Sản phẩm</td>
                                    <td class="product-image-title">
                                        <a href="#" class="image"><img class="img-responsive" src="/images/product-image/product.jpg" alt="Compare Product" /></a>
                                        <a href="#" class="category">Thiết bị</a>
                                        <a href="#" class="title">Modern Smart Phone</a>
                                    </td>
                                    <td class="product-image-title">
                                        <a href="#" class="image"><img class="img-responsive" src="/images/product-image/product.jpg" alt="Compare Product" /></a>
                                        <a href="#" class="category">Thiết bị</a>
                                        <a href="#" class="title">Bluetooth Headphone</a>
                                    </td>
                                    <td class="product-image-title">
                                        <a href="#" class="image"><img class="img-responsive" src="/images/product-image/product.jpg" alt="Compare Product" /></a>
                                        <a href="#" class="category">Thiết bị</a>
                                        <a href="#" class="title">Smart Music Box</a>
                                    </td>
                                </tr>
                               
                                   <tr>
                                    <td class="first-column">Ram</td>
                                    <td class="pro-ram">3GB</td>
                                    <td class="pro-ram">3GB</td>
                                    <td class="pro-ram">3GB</td>
                                </tr>
                                 </tr>
                                <tr>
                                    <td class="first-column">Rom</td>
                                    <td class="pro-rom">128GB</td>
                                    <td class="pro-rom">128GB</td>
                                    <td class="pro-rom">128GB</td>
                                </tr>
                                  <tr>
                                    <td class="first-column">Màn hình</td>
                                    <td class="pro-screen">  AMOLED</td>
                                    <td class="pro-screen">AMOLED</td>
                                    <td class="pro-screen">AMOLED</td>
                                </tr>
                                 <tr>
                                    <td class="first-column">Độ phân giải</td>
                                    <td class="pro-resolution">2k</td>
                                    <td class="pro-resolution">2k</td>
                                    <td class="pro-resolution">2k</td>
                                </tr>
                                 <tr>
                                    <td class="first-column">Chip xử lí</td>
                                    <td class="pro-cpu">Snapdragon 636</td>
                                    <td class="pro-cpu">Snapdragon 636</td>
                                    <td class="pro-cpu">Snapdragon 636</td>
                                </tr>
                                  <tr>
                                    <td class="first-column">Pin</td>
                                    <td class="pro-battery">4000mAh</td>
                                    <td class="pro-battery">4000mAh</td>
                                    <td class="pro-battery">4000mAh</td>
                                </tr>
                                 <tr>
                                    <td class="first-column">Màu sắc</td>
                                    <td class="pro-color">Đen</td>
                                    <td class="pro-color">Đen</td>
                                    <td class="pro-color">Đen</td>
                                </tr>
                                 <tr>
                                    <td class="first-column">Đơn giá</td>
                                    <td class="pro-price">5.000.000 VNĐ</td>
                                    <td class="pro-price">5.000.000 VNĐ</td>
                                    <td class="pro-price">5.000.000 VNĐ</td>
                                </tr>
                               
                                <tr>
                                    <td class="first-column">Giỏ hàng</td>
                                    <td class="pro-addtocart">
                                        <a href="#" class="add-to-cart" tabindex="0"><span>Thêm</span></a>
                                    </td>
                                    <td class="pro-addtocart">
                                        <a href="#" class="add-to-cart" tabindex="0"><span>Thêm</span></a>
                                    </td>
                                    <td class="pro-addtocart">
                                        <a href="#" class="add-to-cart" tabindex="0"><span>Thêm</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Compare Area End -->